# Core
numpy==1.22.4
pandas==2.0.0
Pillow==10.0.0
tqdm==4.67.3
parse==1.21.1

# OpenCV
opencv-python==4.8.1.78

# Deep learning
tensorboard==2.14.0

# Evaluation
pycocotools==2.0.7
psutil
prefetch_generator
av

# Visualization / analysis
matplotlib==3.7.5
plotly==5.8.2
dash==2.5.1
